@import url('./reset.css');
@import url('izitoast/dist/css/iziToast.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery-section {
  max-width: 1440px;
  padding: 32px 0px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  column-gap: 8px;
}

.search-form-input {
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background-color: #ffffff;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;

  transition: border 250ms linear;
}

.search-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.search-form-input:hover {
  border: 1px solid #000;
}
.search-form-input:focus {
  border: 1px solid #4e75ff;
}

.btn-style {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  transition: background-color 250ms linear;
}

.btn-style:hover,
.btn-style:focus {
  outline: transparent;
  background-color: #6c8cff;
}

.gallery {
  margin-top: 32px;
  max-width: 1128px;
  width: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.gallery-item {
  position: relative;
  width: calc((100% - 48px) / 3);
  height: 200px;
  border: 1px solid #808080;
}

.item-img {
  width: 100%;
  height: 100%;
}

.item-info-list {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.quantity {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.load-more-js {
  margin-top: 20px;
}

/* =============================================
 !           LOADER STYLES
============================================ */
.loader {
  margin-top: 20px;
  display: block;
  position: relative;
  height: 4px;
  width: 20%;
  border: 1px solid #808080;
  border-radius: 10px;
  overflow: hidden;
}
.loader::after {
  content: '';
  width: 40%;
  height: 100%;
  background: #4e75ff;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 1000ms linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

/* =============================================
 !           iziToast CloseBtn STYLES
============================================ */
.iziToast > .iziToast-close {
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 35%;
  width: 40px;
  height: 40px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAJPAAACTwBcGfW0QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAD3SURBVFiF1ZdtDoMgDEBfdi4PwAX8vLFn0qT7wxantojKupmQmCi8R4tSACpgjC2ICCUbEBa8ingjsU1AXRBeR8aLN64FiknswN8CYefBBDQ3whuFESy7WyQMeC0ipEI0A+0FeBvHUFN8xPaUhAH/iKoWsnXHGegy4J0yxialOfaHJAz4bhRzQzgDvdGnz4GbAonZbCQMuBm1K/kcFu8Mp1N2cFFpsxsMuJqqbIGExGl4loARajU1twskJLLhIsID7+tvUoDnIjTg5T9DPH9EBrz8rxjPzciAl9+O8SxI8CzJ8CxKFfh3ynK8Dyb8wNHM/XDqejx/AtNyPO87tNybAAAAAElFTkSuQmCC)
      no-repeat 50% 50%,
    linear-gradient(180deg, #f0000025, #f0000025);
  background-size: 15px;
}

.is-hidden {
  display: none;
}
